/* Variables scss file */

/* Font Stacks */
$font-stack-san:    'Josefin Sans', ‘Trebuchet MS’, Helvetica, sans-serif;
$font-stack-ser:    Cardo, ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;

/* Colours */
$col-blue1:    #C7F7FF;
$col-blue2:    #89C0C9;
$col-blue3:    #3a5E63;
$col-brown1:   #C9A689;
$col-brown2:   #7C593C;
$col-grey1:    #d4d4d4;
$col-grey2:    #222;
$col-white:    #fff;